.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
  
    .teamName {
      grid-column: span 3;
      align-self: center;
    }
  
    .dashboard {
      grid-column: span 4;
      text-align: center; /* Adjust as needed */
      padding: 20px; /* Adjust padding as needed */
    }
  
    .matchdetailcard {
      grid-column: span 4;
      padding: 0 20px;
    }
  
    .wins-loss {
      justify-self: center;
      padding: 30px;
      text-align: center;
    }
  
    .more {
      align-self: center;
      justify-self: center;
      font-size: 1.5rem;
    }
  }
  